<template name="driveUpdateCampaign">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div id="summernote" style="height: 800px;"></div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-sm-12">
            <button type="button" class="btn btn-lg btn-info btn-save">
              <big>SAVE</big>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
