<template name="mockUpdateOne">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Update #1</h3>
    </div>
    <div class="panel-body">
      <p>
        We have been working on this project since January,
        today we finally get to release the results.
        One portion of this campaign is complete,
        but we are far from being finished.
      </p>
      <p> Thank you to everyone who helped make this jump possible. </p>
      <p> I hope you enjoy the video, please help me spread the word! </p>
      <p> Andy </p>

      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/C9P7JvdUQ98" allowfullscreen=""></iframe>
      </div>

      <hr>

      <div class="pull-right">
        {{> shareit}}
      </div>

    </div>
    <!-- <div class="panel-footer"> </div> -->
  </div>
</template>
