<template name="driveTeam">
  <div class="panel panel-default">
    <!-- <div class="panel-heading"> <h3 class="panel-title"></h3> </div> -->
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="http://placehold.it/100x100" alt="...">
          </a>
        </div>
        <div class="media-body">
          <small class="media-heading">Created March 27, 2016</small>
          <br>
          <strong>Davis Lewis</strong>
        </div>
      </div>
    </div>
    <!-- <div class="panel-footer"> </div> -->
  </div>
</template>


<template name="drivePerson"></template>
