@import '../include-media';

body.driveuspslabelform {
  background-color: #f3f3f3;
}

.container {
  max-width: 1050px;
}

#goodToKnow{

  h3 {
    font-size: 18px;
  }

  ul {
    font-size: 15px;
  }
}

.form-control.error:focus {
  border-color: darken(red, 10%);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.form-control.error {
  border-color: darken(red, 10%);
}

label.error {
  color: red;
  font-size: 13px;
}
