<template name="campaign">
  <p>This amazing nation is protected by volunteers willing to write a check to the United States of America for an amount up to, and including their lives.  When that check is cashed, the destruction left behind is almost beyond description. </p>

  <p>Behind every soldier serving in our military is a family whose love and support makes their complete and unwavering commitment to this country possible. When those families receive notification that a husband, father, or son are gone, they need all that love and support given right back. </p>
  <p>Since retiring from the military it’s been a persistent and painful struggle to watch the fight from the sidelines. Even though I can't physically go overseas and contribute, I refuse to sit back and do nothing. I’ve decided to put it all on the line to support the Navy SEAL community and their families who live with their toes on the line everyday. </p>
  <p>My goal is to set four world records in one jump to raise 1 million dollars to fund the Navy Seal Foundation Survivor Support Program for 2016. </p>
  <p>The Navy SEAL Foundation exists to preserve the legacy of fallen heroes, and to support the families of those who have sacrificed more than anyone should be asked to.  The Foundation’s programs encompass survivor support, tragedy assistance, legacy preservation, warrior support and educational opportunities and are only made possible through the donations of grateful Americans. </p>
  <p>Throughout my military career I met countless people from all over the United States who were deeply and graciously thankful for those serving on their behalf.  Almost all asked if there was anything they could do to help. If you are one of those people, this is an opportunity to get involved.</p>
  <p>If you want to make a real difference and help preserve the living legacies of fallen heroes I encourage you to visit the Navy SEAL Foundation website: <a href="http://www.navysealfoundation.org/">http://www.navysealfoundation.org/</a> to learn more about their programs, impact, and the community they are dedicated to support. </p>
  <p>Thank you.</p>
  <p>Andy Stumpf</p>

  <p>
    *update 11/12/2015<br>
    All donations are deposited directly to the Navy SEAL Foundation via WePay. Navy SEAL Foundation tax ID 31-1728910
  </p>
  <p>
    For questions, please contact the Navy SEAL Foundation at
    <a href="mailto:development@navySEALfoundation.org?subject=questions">development@navySEALfoundation.org</a>
  </p>
</template>
