<template name="threeStepProcess">
  <div id="desc" class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <span class="mega-octicon octicon-package pull-left"></span>
        <h3 class="desc-title">
          Send in your stuff
        </h3>
        <p class="desc-content">
          Use our prepaid shipping label to mail your things to Valet.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <span class="mega-octicon octicon-check pull-left"></span>
        <h3 class="desc-title"> Sit back and relax </h3>
        <p class="desc-content">
          Valets take care of selling your stuff on eBay.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <span class="mega-octicon octicon-gift pull-left"></span>
        <h3 class="desc-title"> Get paid </h3>
        <p class="desc-content">
          You get up to 80% of the sale price if your things sell.
          <a href="#">Learn more.</a>
        </p>
      </div>
    </div>
  </div>
</template>
