<template name="getStarted">
  <div class="jumbotron">
    <div class="container-fluid">
      <div class="container text-center">
        <span class="get-started">
          READY TO SELL?
          <button type="button" class="btn btn-success btn-get-started desktop">
            <b>Get Started</b>
          </button>
        </span>
        <button type="button" class="btn btn-success btn-get-started mobile">
          <b>Get Started</b>
        </button>
      </div>
    </div>
  </div>
</template>
