<template name="share">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-4">
          <h2 style="margin-top: 0px; margin-bottom: 0px;">5.1K <small>shares</small></h2>
        </div>
        <div class="col-xs-8">
          <div class="pull-right">
            {{> shareit}}
          </div>
        </div>
      </div>
      <hr>
      COPY, PASTE & SHARE: <b class="text-warning">{{urlFor route="drive"}}</b>
    </div>
  </div>
</template>
