<template name="goodToKnow">
  <div id="goodToKnow" class="panel panel-default">
    <div class="panel-body text-center">
      <h2 class="title"> VALETS ARE READY. LET'S GET STARTED. </h2>
      <h3 class="subtitle"> Free USPS Priority Mail shipping </h3>
      <div class="container text-left">
        <div class="row">
          <div class="col-sm-6">
            <h3>Valets will sell:</h3>
            <ul class="list-group list-unstyled">
              <li class="list-item">Electronics</li>
              <li class="list-item">Designer clothing, shoes, and bags</li>
              <a href>See full list of eligible brands and estimated values</a>
              <li class="list-item">Antiques and collectibles</li>
              <li class="list-item">Musical instruments</li>
              <li class="list-item">Sporting goods</li>
            </ul>
            <a href>View full list</a>
          </div>
          <div class="col-sm-6">
            <h3>Valets won't sell:</h3>
            <ul class="list-group list-unstyled">
              <li class="list-item">Items in poor condition or worth less than $40</li>
              <li class="list-item">Bulky items or items heavier than 25 lbs</li>
              <li class="list-item">Fragile items</li>
              <li class="list-item">Media (CDs, DVDs, Books)</li>
              <li class="list-item">Items that require a license or code</li>
              <li class="list-item">Items prohibited for sale on eBay</li>
              <li class="list-item">Jewelry, art, and watches</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>
