@import '../include-media';

body.uspslabelform {
  background-color: #f3f3f3;
}

.container {
  max-width: 1050px;
}

#goodToKnow{

  h3 {
    font-size: 18px;
  }

  ul {
    font-size: 15px;
  }
}
