<template name="donateBox">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="octicon octicon-location"></span> California</h3>
    </div>
    <div class="panel-body text-center">

      <div class="row">
        <h2>$4,200 <small>of $6,000</small></h2>
      </div>

      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
        </div>
      </div>

      <button type="button" class="btn btn-lg btn-warning btn-block btn-donate">
        <h3 style="margin-top: 5px; margin-bottom: 5px;">Donate Now</h3>
      </button>
      <br>
      <button type="button" class="btn btn-warning btn-block">
        <strong>SHARE ON FACEBOOK</strong>
      </button>
    </div>
    <!-- <div class="panel-footer"> </div> -->
  </div>
</template>
