<template name="staticDrive">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        {{#with drive}}
          <div class="row text-center">
            <h1>{{drive.title}}</h1>
          </div>

          <div class="row">
            <div class="col-sm-8">
              <img class="img-responsive" src="http://placehold.it/800x400">
              <br>
              {{#if showMoreUpdates}}
                {{#each updates}}
                  {{> update}}
                {{/each}}
              {{else}}
                {{#if latestUpdate}}
                  {{> update latestUpdate}}
                {{/if}}
              {{/if}}
              <br>
              {{{drive.campaign}}}
              {{invokeAfterLoad}}
              {{> share}}
            </div>

            <div class="col-sm-4">
              {{> donateBox}}
              {{> driveTeam}}
              {{> edit}}
            </div>
          </div>
        {{/with}}
      </div>
    </div>

  </div>
</template>

<template name="edit">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Temporary</h3>
    </div>
    <div class="panel-body text-center">
      <button type="button" class="btn btn-info">
        Edit campaign
      </button>
    </div>
  </div>
</template>
