<template name="staticDrive">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">

        <div class="row text-center">
          {{#with drive}}
          <h1>{{drive.title}}</h1>
          {{/with}}
        </div>

        <div class="row">
          <div class="col-sm-8">
            <img class="img-responsive" src="http://placehold.it/800x400">
            <br>
            {{> mockUpdateOne}}
            <br>
            {{> campaign}}
            {{> share}}
          </div>

          <div class="col-sm-4">
            {{> donateBox}}
            {{> driveTeam}}
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
